doctype
html
	head
		title=name
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(href='assets/style.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
	body
		div.container
			div
					h1.text-center.text-primary.title=name
			ul.areas.list-unstyled
				li.chatArea
					div.row.msgBox
						div.col-xs-8
							ul.messages.list-unstyled
						div.col-xs-4
							ul.users
								- for (nick in nicks) {
									li.user=nicks[nick]
								- }
					div.row
						div.col-xs-8
							div.form-inline.inputArea
								div#text
									input.inputMessage.form-control#m(autocomplete="off")
								div#send
									button.btn.btn-primary send
				li.loginArea
					div.form-inline
						h3.title What's your nickname?
						input.form-control.nickInput(type="text", maxlength="14")
						button.btn.btn-success start
		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script(src="script.js")